apiVersion: v1
name: logrotate
description: logrotate chart that runs on kubernetes
version: {{ getenv "VERSION" }}
keywords:
  - logrotate
  - kubernetes
home: https://github.com/lucasafonsokremer/helm-logrotate
maintainers:
- name: Lucas Afonso Kremer
  url: linkedin.com/lucasafonsokremer
